# Core config file
# Save your key inside the /configs/twitch-stream.config file
# Or make a global file named "twitch-stream.config" in your home directory (~/twitch-stream.config")

FFMPEG_PATH="ffmpeg"  # Add the FFMPEG ABSOLUTE PATH "/path/to/ffmpeg"

# Webcam Options
WEBCAM="/dev/video0"  # WebCam device, check using `ls /dev/video*`
WEBCAM_WH="1280x720"  # WebCam Width end Height

# Streaming Options
OUTRES="1280x720"     # Twitch Output Resolution
FPS="30"              # Frame per Seconds (Suggested 24, 25, 30 or 60)
THREADS="8"           # Change this if you have a good CPU (Suggested 4 threads, Max 8 threads)
QUALITY="ultrafast"   # ultrafast, superfast, veryfast, faster, fast, medium, slow, slower, veryslow, placebo
CBR="2000k"           # Constant bitrate (CBR) Increase this to get a better pixel quality (1000k - 3000k for twitch)
BUFFER="6000k"        # How large of a buffer we need
CRF="15"              # The quality of the encoding. Range is 0-51: 0 is lossless, 23 is the default, 23-28 will probably be acceptable for streaming. 

# Stream output
SERVER="live-iad"     # Twitch Server - List http://bashtech.net/twitch/ingest.php
SUPPRESS_OUTPUT=true  # Change this to hide ffmpeg output, this should normally be true if you are not debugging. The output is still saved to log
AUDIO_RATE="44100"    # Twitch says it MUST have a 44100 rate, please do not change it unless you know what you are doing.
KEY_FRAME="2"         # Twitch says it MUST be 2, please do not change it unless you know what you are doing.