# STREAM KEY
# You can find YOUR key here: http://www.twitch.tv/broadcast/ (Show Key button)
# Save your key inside the /configs/twitch-key.config file
# Or make a global file named "twitch-key.config" in your home directory (~/twitch-key.config")

STREAM_KEY=live_XXXXXXXX_YYYYYYYYYYYYYYYYYYYYYYYYYYYYYY
